@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@theme {
  --color-primary: #14283c;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-white: #f5f5f5f5;
  --color-beige: #b4a788;
  --color-light-beige: #dfd0af;
}

.cairo-font {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.gradient2 {
  background-image: linear-gradient(to right, #999999 0%, #ffd700 43%);

  background-clip: text;
  -webkit-background-clip: text; /* For broader browser support */
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.opacityi {
  background-color: gray;
  opacity: 0.5;
}

.nav-link-underline {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-link-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #d9bba9; /* or use a Tailwind color like var(--tw-color-beige) */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link-underline:hover::before {
  transform: scaleX(1);
}

.nav-link-underline.active::before {
  transform: scaleX(1);
}

.nav-link-underline.active {
  color: #d9bba9; /* or the Tailwind beige */
}
